<p class="header">How did we do?</p>

<p class="overall_status"><%= @overall_status %></p>
<p><%= @red_sox_update %></p>
<p><%= @bruins_update %></p>
<p><%= @celtics_update %></p>
<p><%= @patriots_update %></p>