<p class="header">How'd we do?</p>

<p class="overall_status"><%= @overall_status %></p>

<div class="team_square">
  <div class="team_bubble red_sox">
    <% if @red_sox_update == 'No Red Sox game.' %>
      <div class="circle"></div>
    <% end %>
  </div>
  <p><%= @red_sox_update %></p>
</div>

<div class="team_square">
  <div class="team_bubble bruins">
    <% if @bruins_update == 'No Bruins game.' %>
      <div class="circle"></div>
    <% end %>
  </div>
  <p><%= @bruins_update %></p>
</div>

<div class="team_square">
  <div class="team_bubble celtics">
    <% if @celtics_update == 'No Celtics game.' %>
      <div class="circle"></div>
    <% end %>
  </div>
  <p><%= @celtics_update %></p>
</div>

<div class="team_square">
  <div class="team_bubble patriots">
    <% if @patriots_update == 'No Patriots game.' %>
      <div class="circle"></div>
    <% end %>
  </div>
  <p><%= @patriots_update %></p>
</div>
